/* Подключение шрифтов*/
@font-face {
  font-family: "Gilroy";
  src:
    local("Gilroy Light"),
    url("../fonts/gilroylight.woff") format("woff"),
    url("../fonts/gilroylight.woff2") format("woff2");
    font-weight: 400;
}

@font-face {
  font-family: "Gilroy";
  src:
    local("Gilroy ExtraBold"),
    url("../fonts/gilroyextrabold.woff") format("woff"),
    url("../fonts/gilroyextrabold.woff2") format("woff2");
    font-weight: 700;
}

body {
  min-width: 1200px;
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 15px;
  line-height: 30px;
  font-family: 'PT Sans', Arial, sans-serif;
  color: #000000;
  background-color: #ffffff;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.reset-list {
  list-style: none;
}

.container {
  width: 1160px;
  margin: 0 auto;
  padding: 0 20px;
}

/* Header */
.main-header {
}

.header-wrap {
  position: relative;
  margin-top: 40px;
  padding-top: 35px;
  padding-left: 60px;
  padding-right: 60px;
  background-color: #f7e296;
}

.index-logo {
  position: absolute;
  top: -16px;
  left: 60px;
}

.header-top {
  display: flex;
  align-items: center;
  margin-bottom: 28px;
  justify-content: space-around;
}

.header-top a {
  color: #000000;
}

.search-form {
  position: relative;
  box-sizing: border-box;
  display: flex;
  width: 440px;
}

.search-input {
  padding-left: 40px;
  background-color: inherit;
  flex-grow: 1;
  border: none;
}

.search-input:hover::placeholder {
  color: rgba(0, 0, 0, .6);
}

.search-input + label::before {
  position: absolute;
  content: '';
  top: 15px;
  left: 0;
  width: 16px;
  height: 16px;
  background-image: url('../img/search.svg');
  background-position: 0 0;
  background-repeat: no-repeat;
}

.search-btn {
  box-sizing: border-box;
  height: 49px;
  width: 85px;
  color: #000000;
  background-color: inherit;
  border: 2px solid #000000;
  cursor: pointer;
  visibility: hidden;
}

.search-btn:hover {
  color: #ffffff;
  background-color: #000000;
}

.search-input:focus + label::after {
  position: absolute;
  content: '';
  top: 47px;
  left: -2px;
  width: 441px;
  height: 2px;
  background-color: #000000;
}

.search-input:focus ~ .search-btn {
  visibility: visible;
}


.header-input {
  position: relative;
  box-sizing: border-box;
  width: 100px;
  margin-left: 100px;
  padding-left: 27px;
}

.header-input::before {
  position: absolute;
  content: '';
  top: 9px;
  left: 0;
  width: 13px;
  height: 12px;
  background-image: url('../img/user.svg');
  background-position: 0 0;
  background-repeat: no-repeat;
}

.header-compare {
  position: relative;
  box-sizing: border-box;
  width: 100px;
  margin-left: auto;
  padding-left: 27px;
}

.header-compare::before {
  position: absolute;
  content: '';
  top: 10px;
  left: 10px;
  width: 10px;
  height: 10px;
  background-image: url('../img/compare.svg');
  background-position: 0 0;
  background-repeat: no-repeat;
}

.header-cart {
  position: relative;
  margin-left: 20px;
  padding-left: 40px;
  box-sizing: border-box;
  width: 100px;
}

.header-cart::before {
  position: absolute;
  content: '';
  top: 7px;
  left: 14px;
  width: 12px;
  height: 12px;
  background-image: url('../img/cart.svg');
  background-position: 0 0;
  background-repeat: no-repeat;
}

.header-input:hover,
.header-input:focus,
.header-compare:hover,
.header-compare:focus,
.header-cart:hover,
.header-cart:focus {
  color: rgba(0, 0, 0, .6);
}


.header-input:hover::before,
.header-input:focus::before,
.header-compare:hover::before,
.header-compare:focus::before,
.header-cart:hover::before,
.header-cart:focus::before {
  opacity: .6;
}

.header-input:active,
.header-compare:active,
.header-cart:active {
  color: rgba(0, 0, 0, .3);
}

.header-input:active::before,
.header-compare:active::before,
.header-cart:active::before {
  opacity: .3;
}

.main-navigation {
  position: relative;
}

.main-navigation::after {
  position: absolute;
  content: '';
  top: 90px;
  left: 540px;
  width: 100px;
  height: 7px;
  background-color: #ffffff;
}

.site-navigation {
  display: flex;
  margin: 0;
  padding: 0;
  padding-bottom: 160px;
}

.site-navigation-item {
  display: block;
  margin: 0;
  padding: 0;
  color: #000000;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  font-family: 'Gilroy', Arial, sans-serif;
  text-transform: uppercase;
  letter-spacing: 3.5px;
}

.site-navigation-item:hover,
.site-navigation-item:focus {
  color: rgba(0, 0, 0, .6);
}

.site-navigation-item:active {
  color: rgba(0, 0, 0, .3);
}

.navigation-catalog::after {
  position: absolute;
  content: '';
  top: 5px;
  left: 230px;
  width: 16px;
  height: 16px;
  background-image: url('../img/plus.svg');
  background-position: 0 0;
  background-repeat: no-repeat;
  opacity: .3;
}

.navigation-delivery {
  margin-left: 320px;
}

.navigation-guarantee {
  margin-left: 40px;
}

.navigation-contacts {
  margin-left: 103px;
}

.catalog-list {
  position: absolute;
  top: 50px;
  width: 1040px;
  display: flex;
  margin: 0;
  padding: 0;
  background-color: #f7e296;
  z-index: 2;
}

.catalog-column {
  margin: 0;
  padding: 0;
  margin-right: 65px;
}

.catalog-column:nth-child(2){
  margin-right: 75px;
}

.catalog-item {
  display: block;
  margin-bottom: 5px;
  color: #000000;
}

.catalog-item:hover,
.catalog-item:focus {
  color: rgba(0, 0, 0, .6);
}

.catalog-item:active {
  color: rgba(0, 0, 0, .3);
}

/* top-products */

/*Products*/
.products-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.products-item {
  margin-top: 10px;
}

.products-item h3 {
  width: 160px;
  font-family: 'Gilroy', Arial, sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
}

.products-item-image {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin: 0;
  width: 160px;
  height: 160px;
  background-color: #f7e296;
}

/* Service*/

.service-menu {
  width: 284px;
}

.service-list {
  width: 760px;
}

/* Brand */
.brand {
  display: flex;
  justify-content: space-between;
}

/* index-column */

.index-column {
  display: flex;
  justify-content: space-between;
}

.about-us {
  width: 465px;
}

.contacts {
  width: 560px;
}

/* Footer */
.main-footer {
  background-color: #464646;
}

.footer-middle {
  display: flex;
}

.footer-navigation {
  margin: 0;
  padding: 0;
  display: flex;
}
