/* Подключение шрифтов*/
@font-face {
  font-family: "Gilroy";
  src:
    local("Gilroy Light"),
    url("../fonts/gilroylight.woff") format("woff"),
    url("../fonts/gilroylight.woff2") format("woff2");
    font-weight: 400;
}

@font-face {
  font-family: "Gilroy";
  src:
    local("Gilroy ExtraBold"),
    url("../fonts/gilroyextrabold.woff") format("woff"),
    url("../fonts/gilroyextrabold.woff2") format("woff2");
    font-weight: 700;
}

body {
  min-width: 1200px;
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 15px;
  line-height: 30px;
  font-family: 'PT Sans', Arial, sans-serif;
  color: #000000;
  background-color: #ffffff;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.reset-list {
  list-style: none;
}

.title {
  font-family: 'Gilroy', Arial, sans-serif;
}

.container {
  width: 1160px;
  margin: 0 auto;
  padding: 0 20px;
}

.btn {
  position: relative;
  font-family: 'Gilroy', Arial, sans-serif;
  font: inherit;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  cursor: pointer;
}

.btn::after {
  position: absolute;
  content: '';
  top: 50%;
  left: 0;
  width: inherit;
  height: 6px;
  background-color: #f0c52e;
  border-top: 1px solid #f4d361;
  border-bottom: 1px solid #f4d361;
  transform: translateY(-50%);
  z-index: -1;
}

/* Header */
.main-header {
}

.header-wrap {
  position: relative;
  margin-top: 40px;
  padding-top: 35px;
  padding-left: 60px;
  padding-right: 60px;
  background-color: #f7e296;
}

.index-logo {
  position: absolute;
  top: -16px;
  left: 60px;
}

.header-top {
  display: flex;
  align-items: center;
  margin-bottom: 28px;
  justify-content: space-around;
}

.header-top a {
  color: #000000;
}

.search-form {
  position: relative;
  box-sizing: border-box;
  display: flex;
  width: 440px;
}

.search-input {
  padding-left: 40px;
  background-color: inherit;
  flex-grow: 1;
  border: none;
}

.search-input:hover::placeholder {
  color: rgba(0, 0, 0, .6);
}

.search-input + label::before {
  position: absolute;
  content: '';
  top: 15px;
  left: 0;
  width: 16px;
  height: 16px;
  background-image: url('../img/search.svg');
  background-position: 0 0;
  background-repeat: no-repeat;
}

.search-btn {
  box-sizing: border-box;
  height: 49px;
  width: 85px;
  color: #000000;
  background-color: inherit;
  border: 2px solid #000000;
  cursor: pointer;
  visibility: hidden;
}

.search-btn:hover {
  color: #ffffff;
  background-color: #000000;
}

.search-input:focus + label::after {
  position: absolute;
  content: '';
  top: 47px;
  left: -2px;
  width: 441px;
  height: 2px;
  background-color: #000000;
}

.search-input:focus ~ .search-btn {
  visibility: visible;
}


.header-input {
  position: relative;
  box-sizing: border-box;
  width: 100px;
  margin-left: 100px;
  padding-left: 27px;
}

.header-input::before {
  position: absolute;
  content: '';
  top: 9px;
  left: 0;
  width: 13px;
  height: 12px;
  background-image: url('../img/user.svg');
  background-position: 0 0;
  background-repeat: no-repeat;
}

.header-compare {
  position: relative;
  box-sizing: border-box;
  width: 100px;
  margin-left: auto;
  padding-left: 27px;
}

.header-compare::before {
  position: absolute;
  content: '';
  top: 10px;
  left: 10px;
  width: 10px;
  height: 10px;
  background-image: url('../img/compare.svg');
  background-position: 0 0;
  background-repeat: no-repeat;
}

.header-cart {
  position: relative;
  margin-left: 20px;
  padding-left: 40px;
  box-sizing: border-box;
  width: 100px;
}

.header-cart::before {
  position: absolute;
  content: '';
  top: 7px;
  left: 14px;
  width: 12px;
  height: 12px;
  background-image: url('../img/cart.svg');
  background-position: 0 0;
  background-repeat: no-repeat;
}

.header-input:hover,
.header-input:focus,
.header-compare:hover,
.header-compare:focus,
.header-cart:hover,
.header-cart:focus {
  color: rgba(0, 0, 0, .6);
}


.header-input:hover::before,
.header-input:focus::before,
.header-compare:hover::before,
.header-compare:focus::before,
.header-cart:hover::before,
.header-cart:focus::before {
  opacity: .6;
}

.header-input:active,
.header-compare:active,
.header-cart:active {
  color: rgba(0, 0, 0, .3);
}

.header-input:active::before,
.header-compare:active::before,
.header-cart:active::before {
  opacity: .3;
}

.main-navigation {
  position: relative;
}

.main-navigation::after {
  position: absolute;
  content: '';
  top: 90px;
  left: 540px;
  width: 100px;
  height: 7px;
  background-color: #ffffff;
}

.site-navigation {
  display: flex;
  margin: 0;
  padding: 0;
  padding-bottom: 160px;
}

.site-navigation-item {
  display: block;
  margin: 0;
  padding: 0;
  color: #000000;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  font-family: 'Gilroy', Arial, sans-serif;
  text-transform: uppercase;
  letter-spacing: 3.5px;
}

.site-navigation-item:hover,
.site-navigation-item:focus {
  color: rgba(0, 0, 0, .6);
}

.site-navigation-item:active {
  color: rgba(0, 0, 0, .3);
}

.navigation-catalog::after {
  position: absolute;
  content: '';
  top: 5px;
  left: 230px;
  width: 16px;
  height: 16px;
  background-image: url('../img/plus.svg');
  background-position: 0 0;
  background-repeat: no-repeat;
  opacity: .3;
}

.navigation-delivery {
  margin-left: 320px;
}

.navigation-guarantee {
  margin-left: 40px;
}

.navigation-contacts {
  margin-left: 103px;
}

.catalog-list {
  position: absolute;
  top: 50px;
  width: 1040px;
  display: flex;
  margin: 0;
  padding: 0;
  padding-bottom: 29px;
  background-color: #f7e296;
  z-index: 2;
}

.catalog-column {
  margin: 0;
  padding: 0;
  margin-right: 65px;
}

.catalog-column:nth-child(2){
  margin-right: 75px;
}

.catalog-item {
  display: block;
  margin-bottom: 5px;
  color: #000000;
}

.catalog-item:hover,
.catalog-item:focus {
  color: rgba(0, 0, 0, .6);
}

.catalog-item:active {
  color: rgba(0, 0, 0, .3);
}

/* top-products */
.top-products {
  position: relative;
  margin-bottom: 120px;
}

.top-products-slider {
  position: absolute;
  width: 100px;
  justify-content: space-between;
  display: flex;
  top: 220px;
  right: 50px;
  z-index: 2;
}

.top-products-slider label {
  position: relative;
  box-sizing: border-box;
  width: 12px;
  height: 12px;
  font-size: 0;
  border: 1px solid #000000;
  border-radius: 50%;
}

.top-product {
  display: none;
}

#tp-btn-1:checked ~ .top-products-slider label[for='tp-btn-1']::before,
#tp-btn-2:checked ~ .top-products-slider label[for='tp-btn-2']::before,
#tp-btn-3:checked ~ .top-products-slider label[for='tp-btn-3']::before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  top: 2px;
  left: 2px;
  width: 6px;
  height: 6px;
  border: 1px solid #000000;
  border-radius: 50%;
}

#tp-btn-1:checked ~ .top-product-1,
#tp-btn-2:checked ~ .top-product-2,
#tp-btn-3:checked ~ .top-product-3 {
  display: flex;
}

.top-product-image {
  position: relative;
  width: 600px;
}

.top-image-1 {
  position: absolute;
  top: -110px;
  left: 100px;
}

.top-image-2  {
  position: absolute;
  top: -110px;
  left: 100px;
}

.top-image-3  {
  position: absolute;
  top: -50px;
  left: 50px;
}

.top-product-wrapper {
  position: relative;
  top:-32px;
  width: 500px;
}

.top-products-number {
  position: absolute;
  top: -95px;
  right: 0;
  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 180px;
  line-height: 180px;
  font-weight: 700;
  color: #ffffff;
  z-index: 0;
}

.top-product h3 {
  position: relative;
  margin: 0;
  font-size: 47px;
  line-height: 56px;
  width: 390px;
  z-index: 1;
}

.top-product-3 h3 {
  width: 500px;
}

.top-product-wrapper p {
  width: 480px;
  margin-bottom: 60px;
  color: #464646;
}

.top-product-wrapper .btn {
  display: block;
  width: 220px;
  padding: 8px 0;
  margin-bottom: 60px;
}

.top-product-wrapper .btn:hover,
.top-product-wrapper .btn:focus {
  background-color: #f0c52e;
}

.top-product-wrapper .btn:active {
  color: rgba(0, 0, 0, .6);
  background-color: #f0c52e;
}

.top-product-wrapper td {
  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 36px;
  line-height: 48px;
}

.top-product-wrapper th {

  color: #464646;
  padding-right: 80px;
  font-size: 13px;
  line-height: 20px;
  font-weight: 400;
}

/*Products*/
.products {
  margin-bottom: 180px;
}

.products-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.products-item {
  margin-top: 10px;
}

.products-item:hover ~ products-item-image {
  background-color: #f0c52e;
}

.products-item h3 {
  width: 160px;
  font-family: 'Gilroy', Arial, sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
}

.products-item-image {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin: 0;
  width: 160px;
  height: 160px;
  background-color: #f7e296;
}

/* Service*/

.service {
  position: relative;
  margin-bottom: 105px;
  background-color: rgba(0, 0, 0, .1);
}

.service .index-column {
  position: relative;
  top:-74px;
}

.service-menu {
  position: relative;
  width: 284px;
  margin: 0;
  margin-top: 50px;
  padding: 0;
}

.service-menu::after {
  position: absolute;
  content: '';
  top: -80px;
  right: 0;
  width: 7px;
  height: 320px;
  background-color: #000000;
}

.service-menu-item {
  position: relative;
  display: block;
  width: 160px;
  margin-bottom: 25px;
  padding: 8px 0;
  text-align: center;
  vertical-align: middle;
  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  text-transform: uppercase;
}

.service-menu-item::before {
  position: absolute;
  content: '';
  top: 50%;
  left: 0;
  width: inherit;
  height: 6px;
  background-color: #f0c52e;
  border-top: 1px solid #f4d361;
  border-bottom: 1px solid #f4d361;
  transform: translateY(-50%);
  z-index: -1;
}

.service-item {
  display: none;
}

.service-item h3 {
  font-size: 47px;
  line-height: 48px;
  font-weight: 700;
}

.service-item p {
  margin: 0;
  padding: 0;
  color: #464646;
}

.service-item-1 {
  min-height: 200px;
  background-image: url('../img/delivery.svg');
  background-position: 560px 10px;
  background-repeat: no-repeat;
}

.service-item-1 p {
  width: 455px;
}

.service-item-2 {
  min-height: 200px;
  background-image: url('../img/warranty.svg');
  background-position: 560px 0px;
  background-repeat: no-repeat;
}

.service-item-2 p {
  width: 430px;
}

.service-item-3 {
  min-height: 200px;
  background-image: url('../img/credit.svg');
  background-position: 560px 0px;
  background-repeat: no-repeat;
}

.service-item-3 p {
  width: 420px;
}

#s-btn-1:checked ~ .service-menu label[for='s-btn-1'],
#s-btn-2:checked ~ .service-menu label[for='s-btn-2'],
#s-btn-3:checked ~ .service-menu label[for='s-btn-3'] {
  padding-right: 124px;
  color: #f7e184;
  background-color: #000000;
}

#s-btn-1:checked ~ .service-list .service-item-1,
#s-btn-2:checked ~ .service-list .service-item-2,
#s-btn-3:checked ~ .service-list .service-item-3 {
  display: block;
}

.service-menu-item:hover {
  background-color: #f0c52e;
}

.service-list {
  width: 760px;
}

/* Brand */
.brand {
  display: flex;
  justify-content: space-between;
  margin-bottom: 105px;
}

/* index-column */

.index-column {
  display: flex;
  justify-content: space-between;
}

.about-us {
  width: 465px;
}

.contacts {
  width: 560px;
}

.about-us h2,
.contacts h2 {
  position: relative;
  margin-top: 55px;
  margin-bottom: 55px;
  font-size: 47px;
  line-height: 48px;
  font-weight: 700;
}

.about-us h2::before,
.contacts h2::before {
  content: '';
  position: absolute;
  top: -55px;
  left: 0;
  height: 7px;
  width: 80px;
  background-color: #000000;
}

.about-us p,
.contacts p {
  color: #464646;
  margin: 0;
}

.about-us p:first-of-type {
  margin-bottom: 25px;
}

.about-us p:nth-of-type(2) {
  margin-bottom: 55px;
}

.trans-comp {
  margin: 0;
  margin-bottom: 75px;
  padding-left: 36px;
}

.trans-comp li {
  position: relative;
  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 16px;
  line-height: 40px;
  font-weight: 700;
}

.trans-comp li::before {
  content: '';
  position: absolute;
  box-sizing: border-box;
  top: 16px;
  left: -36px;
  height: 8px;
  width: 8px;
  background-color: #ffffff;
  border: 2px solid #e5e5e5;
  border-radius: 50%;
}

.about-us .btn{
  display: block;
  width: 260px;
  margin-bottom: 90px;
}

.contacts p {
  margin-bottom: 45px;
}

.btn-map {
  display: block;
  margin-bottom: 90px;
}

.contacts .btn{
  display: block;
  width: 260px;
}

/* Footer */
.main-footer {
  background-color: #464646;
}

.footer-top {
  display: flex;
  align-items: center;
  padding-top: 60px;
  padding-bottom: 40px;
}

.footer-logo {
  margin-right: 672px;
}

.footer-top a {
  position: relative;
  font-size: 15px;
  line-height: 36px;
}

.footer-input {
  padding-left: 27px;
  margin-right: 44px;
}

.footer-input::before {
  position: absolute;
  content: '';
  top: 11px;
  left: 0;
  width: 13px;
  height: 12px;
  background-image: url('../img/gold-user.svg');
  background-position: 0 0;
  background-repeat: no-repeat;
}

.footer-compare {
  padding-left: 20px;
}

.footer-compare::before {
  position: absolute;
  content: '';
  top: 12px;
  left: 0;
  width: 10px;
  height: 10px;
  background-image: url('../img/gold-compare.svg');
  background-position: 0 0;
  background-repeat: no-repeat;
}

.footer-cart {
  padding-left: 24px;
  margin-left: auto;
}

.footer-cart::before {
  position: absolute;
  content: '';
  top: 11px;
  left: 0;
  width: 12px;
  height: 12px;
  background-image: url('../img/gold-cart.svg');
  background-position: 0 0;
  background-repeat: no-repeat;
}

.footer-top a {
  color: #ffffff;
}

.footer-middle {
  display: flex;
}

.footer-middle address {
  margin-right: 180px;
  color: #ffffff;
  font-style: normal;
}

.footer-navigation {
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: space-between;
  width: 424px;
}

.footer-navigation-item a {
  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 3.5px;
  color: #ffffff;
}

.header-contacts-phone {
  color: #ffffff;
  margin-left: auto;
}

.footer-bottom {
  display: flex;
}

.social-list {
  display: flex;
  justify-content: space-between;
  width: 142px;
  margin: 0;
  margin-left: 510px;
  padding: 0;
}

.social-item {
  opacity: .6;
}

.develop {
  margin-left: auto;
}
