/* Подключение шрифтов*/
@font-face {
  font-family: "Gilroy";
  src:
    local("Gilroy Light"),
    url("../fonts/gilroylight.woff") format("woff"),
    url("../fonts/gilroylight.woff2") format("woff2");
    font-weight: 400;
}

@font-face {
  font-family: "Gilroy";
  src:
    local("Gilroy ExtraBold"),
    url("../fonts/gilroyextrabold.woff") format("woff"),
    url("../fonts/gilroyextrabold.woff2") format("woff2");
    font-weight: 700;
}

body {
  min-width: 1200px;
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 15px;
  line-height: 30px;
  font-family: 'PT Sans', Arial, sans-serif;
  color: #000000;
  background-color: #ffffff;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.reset-list {
  list-style: none;
}

.title {
  font-family: 'Gilroy', Arial, sans-serif;
}

.container {
  width: 1160px;
  margin: 0 auto;
  padding: 0 20px;
}

.btn {
  position: relative;
  font-family: 'Gilroy', Arial, sans-serif;
  font: inherit;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  cursor: pointer;
  border: none;
  background: none;
  z-index: 1;
}

.btn::after {
  position: absolute;
  content: '';
  top: 50%;
  left: 0;
  width: inherit;
  height: 6px;
  background-color: #f0c52e;
  border-top: 1px solid #f4d361;
  border-bottom: 1px solid #f4d361;
  transform: translateY(-50%);
  z-index: -1;
}

.btn:hover,
.btn:focus {
  background-color: #f0c52e;
}

.btn:active {
  color: rgba(0, 0, 0, .6);
  background-color: #f0c52e;
}

/* Header */
.main-header {
}

.header-wrap {
  position: relative;
  margin-top: 40px;
  padding-top: 35px;
  padding-left: 60px;
  padding-right: 60px;
  background-color: #f7e296;
}

.index-logo {
  position: absolute;
  top: -16px;
  left: 60px;
}

.index-logo:hover,
.index-logo:focus {
  opacity: .6
}

.index-logo:active {
  opacity: .3
}

.header-top {
  display: flex;
  align-items: center;
  margin-bottom: 28px;
  justify-content: space-around;
}

.header-top a {
  color: #000000;
}

.search-form {
  position: relative;
  box-sizing: border-box;
  display: flex;
  width: 440px;
}

.search-input {
  padding-left: 40px;
  background-color: inherit;
  flex-grow: 1;
  border: none;
}

.search-input:hover::placeholder {
  color: rgba(0, 0, 0, .6);
}

.search-input + label::before {
  position: absolute;
  content: '';
  top: 15px;
  left: 0;
  width: 16px;
  height: 16px;
  background-image: url('../img/search.svg');
  background-position: 0 0;
  background-repeat: no-repeat;
}

.search-btn {
  box-sizing: border-box;
  height: 49px;
  width: 85px;
  color: #000000;
  background-color: inherit;
  border: 2px solid #000000;
  cursor: pointer;
  visibility: hidden;
}

.search-btn:hover {
  color: #ffffff;
  background-color: #000000;
}

.search-input:focus + label::after {
  position: absolute;
  content: '';
  top: 47px;
  left: -2px;
  width: 441px;
  height: 2px;
  background-color: #000000;
}

.search-input:focus ~ .search-btn {
  visibility: visible;
}


.header-input {
  position: relative;
  box-sizing: border-box;
  margin-left: 100px;
  padding-left: 27px;
}

.header-input::before {
  position: absolute;
  content: '';
  top: 9px;
  left: 0;
  width: 13px;
  height: 12px;
  background-image: url('../img/user.svg');
  background-position: 0 0;
  background-repeat: no-repeat;
}

.header-compare {
  position: relative;
  box-sizing: border-box;
  width: 100px;
  margin-left: auto;
  padding-left: 27px;
}

.header-compare::before {
  position: absolute;
  content: '';
  top: 10px;
  left: 10px;
  width: 10px;
  height: 10px;
  background-image: url('../img/compare.svg');
  background-position: 0 0;
  background-repeat: no-repeat;
}

.header-cart {
  position: relative;
  margin-left: 20px;
  padding-left: 40px;
  box-sizing: border-box;
  width: 100px;
}

.header-cart::before {
  position: absolute;
  content: '';
  top: 7px;
  left: 14px;
  width: 12px;
  height: 12px;
  background-image: url('../img/cart.svg');
  background-position: 0 0;
  background-repeat: no-repeat;
}

.header-menu:hover,
.header-menu:focus {
  color: rgba(0, 0, 0, .6);
}


.header-menu:hover::before,
.header-menu:focus::before {
  opacity: .6;
}

.header-menu:active {
  color: rgba(0, 0, 0, .3);
}

.header-menu:active::before {
  opacity: .3;
}

.main-navigation {
  position: relative;
}

.main-navigation::after {
  position: absolute;
  content: '';
  top: 90px;
  left: 540px;
  width: 100px;
  height: 7px;
  background-color: #ffffff;
}

.site-navigation {
  display: flex;
  margin: 0;
  padding: 0;
  padding-bottom: 160px;
}

.site-navigation-item {
  display: block;
  margin: 0;
  padding: 0;
  color: #000000;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  font-family: 'Gilroy', Arial, sans-serif;
  text-transform: uppercase;
  letter-spacing: 3.5px;
}

.site-navigation-item:hover,
.site-navigation-item:focus {
  color: rgba(0, 0, 0, .6);
}

.site-navigation-item:active {
  color: rgba(0, 0, 0, .3);
}

.navigation-catalog::after {
  position: absolute;
  content: '';
  top: 5px;
  left: 230px;
  width: 16px;
  height: 16px;
  background-image: url('../img/plus.svg');
  background-position: 0 0;
  background-repeat: no-repeat;
  opacity: .3;
}

.navigation-delivery {
  margin-left: 320px;
}

.navigation-guarantee {
  margin-left: 40px;
}

.navigation-contacts {
  margin-left: 103px;
}

.sub-menu {
  position: absolute;
  top: 20px;
  width: 1040px;
  display: none;
  margin: 0;
  padding: 0;
  padding-bottom: 29px;
  background-color: #f7e296;
  z-index: 2;
}

.site-navigation > li:focus .sub-menu,
.site-navigation > li:hover .sub-menu  {
  display: flex;
}

.sub-column {
  margin: 0;
  padding: 0;
  padding-top: 30px;
  margin-right: 65px;
}

.sub-column:nth-child(2){
  margin-right: 75px;
}

.sub-item {
  display: block;
  margin-bottom: 5px;
  color: #000000;
}

.sub-item:hover,
.sub-item:focus {
  color: rgba(0, 0, 0, .6);
}

.sub-item:active {
  color: rgba(0, 0, 0, .3);
}

/* top-products */
.top-products {
  position: relative;
  margin-bottom: 120px;
}

.top-products-slider {
  position: absolute;
  width: 100px;
  justify-content: space-between;
  display: flex;
  top: 220px;
  right: 50px;
  z-index: 2;
}

.top-products-slider label {
  position: relative;
  box-sizing: border-box;
  width: 12px;
  height: 12px;
  font-size: 0;
  border: 1px solid #000000;
  border-radius: 50%;
}

.top-product {
  display: none;
}

#tp-btn-1:checked ~ .top-products-slider label[for='tp-btn-1']::before,
#tp-btn-2:checked ~ .top-products-slider label[for='tp-btn-2']::before,
#tp-btn-3:checked ~ .top-products-slider label[for='tp-btn-3']::before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  top: 2px;
  left: 2px;
  width: 6px;
  height: 6px;
  border: 1px solid #000000;
  border-radius: 50%;
}

#tp-btn-1:checked ~ .top-product-1,
#tp-btn-2:checked ~ .top-product-2,
#tp-btn-3:checked ~ .top-product-3 {
  display: flex;
}

.top-product-image {
  position: relative;
  width: 600px;
}

.top-image-1 {
  position: absolute;
  top: -110px;
  left: 100px;
}

.top-image-2  {
  position: absolute;
  top: -110px;
  left: 100px;
}

.top-image-3  {
  position: absolute;
  top: -50px;
  left: 50px;
}

.top-product-wrapper {
  position: relative;
  top:-32px;
  width: 500px;
}

.top-products-number {
  position: absolute;
  top: -95px;
  right: 0;
  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 180px;
  line-height: 180px;
  font-weight: 700;
  color: #ffffff;
  z-index: 0;
}

.top-product h3 {
  position: relative;
  margin: 0;
  font-size: 47px;
  line-height: 56px;
  width: 390px;
  z-index: 1;
}

.top-product-3 h3 {
  width: 500px;
}

.top-product-wrapper p {
  width: 480px;
  margin-bottom: 60px;
  color: #464646;
}

.top-product-wrapper .btn {
  display: block;
  width: 220px;
  padding: 8px 0;
  margin-bottom: 60px;
}

.top-product-wrapper td {
  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 36px;
  line-height: 48px;
}

.top-product-wrapper th {

  color: #464646;
  padding-right: 80px;
  font-size: 13px;
  line-height: 20px;
  font-weight: 400;
}

/*Products*/
.products {
  margin-bottom: 180px;
}

.products-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.products-item {
  margin-top: 10px;
  color: #000000;
}

.products-item:active {
  color: rgba(0, 0, 0, .3);
}

.products-item:hover > .products-item-image,
.products-item:focus > .products-item-image {
  background-color: #f0c52e;
}

.products-item:active > .products-item-image {
  background-color: #f0c52e;
}

.products-item:active > .products-item-image {
  background-color: #f0c52e;
}

.products-item:active > .products-item-image img {
  opacity: .3;
}

.products-item h3 {
  width: 160px;
  font-family: 'Gilroy', Arial, sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
}

.products-item-image {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin: 0;
  width: 160px;
  height: 160px;
  background-color: #f7e296;
}

/* Service*/

.service {
  position: relative;
  margin-bottom: 105px;
  background-color: rgba(0, 0, 0, .1);
}

.service .index-column {
  position: relative;
  top:-74px;
}

.service-menu {
  position: relative;
  width: 284px;
  margin: 0;
  margin-top: 50px;
  padding: 0;
}

.service-menu::after {
  position: absolute;
  content: '';
  top: -80px;
  right: 0;
  width: 7px;
  height: 320px;
  background-color: #000000;
}

.service-menu-item {
  position: relative;
  display: block;
  width: 160px;
  margin-bottom: 25px;
  padding: 8px 0;
  text-align: center;
  vertical-align: middle;
  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  text-transform: uppercase;
}

.service-menu-item::before {
  position: absolute;
  content: '';
  top: 50%;
  left: 0;
  width: inherit;
  height: 6px;
  background-color: #f0c52e;
  border-top: 1px solid #f4d361;
  border-bottom: 1px solid #f4d361;
  transform: translateY(-50%);
  z-index: -1;
}

.service-item {
  display: none;
}

.service-item h3 {
  font-size: 47px;
  line-height: 48px;
  font-weight: 700;
}

.service-item p {
  margin: 0;
  padding: 0;
  color: #464646;
}

.service-item-1 {
  min-height: 200px;
  background-image: url('../img/delivery.svg');
  background-position: 560px 10px;
  background-repeat: no-repeat;
}

.service-item-1 p {
  width: 455px;
}

.service-item-2 {
  min-height: 200px;
  background-image: url('../img/warranty.svg');
  background-position: 560px 0px;
  background-repeat: no-repeat;
}

.service-item-2 p {
  width: 430px;
}

.service-item-3 {
  min-height: 200px;
  background-image: url('../img/credit.svg');
  background-position: 560px 0px;
  background-repeat: no-repeat;
}

.service-item-3 p {
  width: 420px;
}

#s-btn-1:checked ~ .service-menu label[for='s-btn-1'],
#s-btn-2:checked ~ .service-menu label[for='s-btn-2'],
#s-btn-3:checked ~ .service-menu label[for='s-btn-3'] {
  padding-right: 124px;
  color: #f7e184;
  background-color: #000000;
}

#s-btn-1:checked ~ .service-list .service-item-1,
#s-btn-2:checked ~ .service-list .service-item-2,
#s-btn-3:checked ~ .service-list .service-item-3 {
  display: block;
}

.service-menu-item:hover {
  background-color: #f0c52e;
}

.service-list {
  width: 760px;
}

/* Brand */
.brand {
  display: flex;
  justify-content: space-between;
  margin-bottom: 105px;
}

.brand-item:hover > img {
  opacity: 0;
}

.brand-item-dji{
  background-image: url(../img/logo-hover-1.jpg);
  background-position: 0 0;
  background-repeat: no-repeat;
}

.brand-item-spgadgest {
  background-image: url(../img/logo-hover-2.jpg);
  background-position: 0 0;
  background-repeat: no-repeat;
}

.brand-item-gopro {
  background-image: url(../img/logo-hover-3.jpg);
  background-position: 0 0;
  background-repeat: no-repeat;
}

.brand-item-vive {
  background-image: url(../img/logo-hover-4.jpg);
  background-position: 0 0;
  background-repeat: no-repeat;
}

/* index-column */

.index-column {
  display: flex;
  justify-content: space-between;
}

.about-us {
  width: 465px;
}

.contacts {
  width: 560px;
}

.about-us h2,
.contacts h2 {
  position: relative;
  margin-top: 55px;
  margin-bottom: 55px;
  font-size: 47px;
  line-height: 48px;
  font-weight: 700;
}

.about-us h2::before,
.contacts h2::before {
  content: '';
  position: absolute;
  top: -55px;
  left: 0;
  height: 7px;
  width: 80px;
  background-color: #000000;
}

.about-us p,
.contacts p {
  color: #464646;
  margin: 0;
}

.about-us p:first-of-type {
  margin-bottom: 25px;
}

.about-us p:nth-of-type(2) {
  margin-bottom: 55px;
}

.trans-comp {
  margin: 0;
  margin-bottom: 75px;
  padding-left: 36px;
}

.trans-comp li {
  position: relative;
  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 16px;
  line-height: 40px;
  font-weight: 700;
}

.trans-comp li::before {
  content: '';
  position: absolute;
  box-sizing: border-box;
  top: 16px;
  left: -36px;
  height: 8px;
  width: 8px;
  background-color: #ffffff;
  border: 2px solid #e5e5e5;
  border-radius: 50%;
}

.about-us .btn{
  display: block;
  width: 260px;
  margin-bottom: 90px;
}

.contacts p {
  margin-bottom: 45px;
}

.btn-map {
  display: block;
  margin-bottom: 90px;
}

.contacts .btn{
  display: block;
  width: 260px;
}

/* breadcrumbs */

.catalog-title {
  width: 1040px;
  margin: 40px auto;
  padding: 0 20px;
  font-size: 47px;
  line-height: 48px;
}
.breadcrumbs {
  display: flex;
  margin-top: 30px;
  margin-bottom: 30px
}

.breadcrumbs a {
  margin-right: 40px;
  color: rgba(0, 0, 0, .3);
}

.breadcrumbs li:first-child {
  margin-left: 60px;
}

.breadcrumbs a:hover,
.breadcrumbs a:focus {
  color: rgba(0, 0, 0, .6);
}

.breadcrumbs a:active {
  color: rgba(0, 0, 0, .1);
}

.breadcrumbs li {
  position: relative;
}

.breadcrumbs li:not(:last-child)::after {
  content: '';
  position: absolute;
  top: 10px;
  right: 17px;
  width: 6px;
  height: 6px;
  border-top: 2px solid #000000;
  border-right: 2px solid #000000;
  transform: rotate(45deg);
}

/* Catalog-wrap */

.catalog-wrap {
  box-sizing: border-box;
  display: flex;
  margin: 0 auto;
}

/* Filter */
.filter {
  box-sizing: border-box;
  min-width: 270px;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-items: flex-end;
  background-color: #efefef;
}

.filter h2 {
  box-sizing: border-box;
  align-self: stretch;
  margin: 0;
  margin-bottom: 60px;
  padding: 24px 0;
  padding-right: 180px;
  font-size: 16px;
  line-height: 24px;
  text-align: right;
  text-transform: uppercase;
  background-color: #dcdcdc;
}

.filter-form {
  position: relative;
  width: 200px;
  padding-right: 54px;
}

.filter-form fieldset {
  border: none;
  padding: 0;
  margin: 0;
}

.filter legend {
  position: relative;
  margin-bottom: 30px;
  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

.filter legend::before {
  content: '';
  position: absolute;
  top: -16px;
  left: 0;
  width: 200px;
  height: 2px;
  background-color: #000000;
}

.filter-input {
  display: none;
}

.filter ul {
  padding-left: 0;
}

.filter-option {
  position: relative;
  padding-left: 50px;
  margin-bottom: 20px;
}


.filter-input-checkbox + label::before {
  content: '';
  position: absolute;
  top: 1px;
  left: -2px;
  width: 23px;
  height: 23px;
  border: 2px solid #000000;
  border-radius: 3px;
}

.filter-input-checkbox:checked + label::after {
  content: '';
  position: absolute;
  top: 2px;
  left: 4px;
  width: 20px;
  height: 10px;
  border-bottom: 5px solid #000000;
  border-left: 5px solid #000000;
  background-color: transparent;
  transform: rotate(-45deg);
}

.filter-input-radio + label::before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  top: 1px;
  left: -2px;
  width: 25px;
  height: 25px;
  border: 5px solid #000000;
  border-radius: 50%;
}

.filter-input-radio:checked + label::after {
  content: '';
  box-sizing: border-box;
  position: absolute;
  top: 9px;
  left: 6px;
  width: 9px;
  height: 9px;
  background-color: #000000;
  border-radius: 50%;
}

.filter .btn {
  width: inherit;
}

/* Range */
.range-filter {
  margin-bottom: 25px;
}

.range-controls {
  position: relative;
  height: 41px;
  margin-bottom: 10px;
  padding: 39px 0;
}

.range-controls .scale {
  height: 2px;
  background: #d7dcde;
}

.range-controls .bar {
  width: 70%;
  height: 2px;
  background: #91c92f;
}

.range-controls .toggle {
  position: absolute;
  font-size: 14px;
  line-height: 24px;
  color: rgba(0, 0, 0, .2);
  top: 46px;
  left: 0;
}

.range-controls .toggle::before {
  content: '';
  position: absolute;
  box-sizing: border-box;
  top:-14px;
  left: 0;
  width: 21px;
  height: 21px;
  padding: 0;
  border: 8px solid #ffffff;
  background-color: #ababab;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  border-radius: 50%;
  cursor: pointer;
}

.range-controls .toggle:active::before {
  left: -1px;
  top:-15px;
  width: 23px;
  height: 23px;
  border-width: 9px;
}

.range-controls .toggle-min {
  left: 0px;
}

.range-controls .toggle-max {
  left: 120px;
}

.toggle input {
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  width: 50px;
}

/* Catalog */
.catalog {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  min-width: 830px;
  flex-grow: 1;
}

/* Sorting */
.sorting {
  display: flex;
  box-sizing: border-box;
  align-items: center;
  margin: 0;
  margin-bottom: 70px;
  padding: 0;
  height: 72px;
  margin-bottom: 68px;
  border-radius: 3px;
  background-color: #ebebeb;
}

.sorting-title {
  margin: 0;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  box-sizing: border-box;
  position: relative;
  padding-left: 72px;
}

.sorting a {
  padding: 0;
  font-size: 14px;
  line-height: 18px;
  color: #000000;
}

.sorting-mark {
  display: flex;
  width: 355px;
  justify-content: space-between;
  margin-left: 140px;
}

.sorting-mark a {
  color: rgba(0, 0, 0, .3);
}

.sorting-mark .sorting-active {
  color: #000000;
}

.sorting-directions {
  display: flex;
  margin-left: 100px;
}

.sorting a:hover,
.sorting a:focus {
  color: rgba(0, 0, 0, .6);
}

.sorting a:active {
  color: #000000;
}

.sorting .increase,
.sorting .decrease {
  position: relative;
}

.sorting .increase::before {
  content: '';
  position: absolute;
  top: -7px;
  left: -65px;
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-bottom-color: rgba(0, 0, 0, .2);
  transform: translateY(-50%) scaleX(.6);
}

.sorting .decrease::before {
  content: '';
  position: absolute;
  top: -17px;
  left: -32px;
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-bottom-color: rgba(0, 0, 0, .2);
  transform: rotate(180deg) translateY(-50%) scaleX(.6);
}

.sorting-directions .sorting-active::before {
  border-bottom-color: #000000;
}

.sorting-directions .increase:hover::before,
.sorting-directions .increase:focus::before,
.sorting-directions .decrease:hover::before,
.sorting-directions .decrease:focus::before {
  border-bottom-color: rgba(0, 0, 0, .4);
}

.sorting-directions .increase:active::before,
.sorting-directions .decrease:active::before {
  border-bottom-color: #000000;
}

/* Cart */
.cart-list {
  display: flex;
  margin: 0;
  margin-left: 72px;
  padding: 0;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 762px;
}

.cart-item {
  position: relative;
  display: block;
  min-height: 460px;
  color: #000000;
}

.cart-item-img {
  position: relative;
  z-index: 1;
}

.cart-item:hover > .cart-item-img {
  opacity: .1;
  cursor: pointer;
}

.cart-item:hover > .cart-item-action {
  z-index: 2;
}

.cart-item-action {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 180px;
  left: 50%;
  transform: translateX(-50%);
}

.cart-item-action .btn {
  width: 200px;
  margin-bottom: 20px;
}

.cart-item-action .btn-cart {
  font-size: 13px;
  line-height: 20px;
  color: rgba(0, 0, 0, .5);
}

.cart-item-action .btn-cart:hover,
.cart-item-action .btn-cart:focus {
  color: rgba(0, 0, 0, 1);
}

.cart-item-action .btn-cart:active {
  color: rgba(0, 0, 0, .2);
}

.cart-item-sub {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cart-item-sub h3 {
  width: 260px;
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 24px;
}

.cart-item-sub p {
  font-size: 16px;
  line-height: 24px;
  color: #464646;
}

.new::before {
  content: 'New';
  position: absolute;
  box-sizing: border-box;
  top: 29px;
  right: 27px;
  padding-top: 15px;
  width: 62px;
  height: 62px;
  font-size: 14px;
  line-height: 24px;
  font-family: 'Gilroy', Arial, sans-serif;
  font-weight: 700;
  text-align: center;
  color: rgba(0, 0, 0, .2);
  border: 3px solid rgba(0, 0, 0, .2);
  border-radius: 50%;
  z-index: 2;
}

/* Pagination-list */

.pagination-list {
  display: flex;
  justify-content: space-between;
  width: 760px;
  margin: 0;
  margin-left: 72px;
  margin-bottom: 78px;
  padding: 0;
  background-color: #ebebeb;
  font-family: 'Gilroy', Arial, sans-serif;;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  text-align: center;
}

.pagination-item {
  display: block;
  padding: 24px 0;
  width: 40px;
  color: rgba(0, 0, 0, .3);
}

.pagination-item-current {
  color: #000000;
}

.pagination-item:hover,
.pagination-item:focus {
  color: rgba(0, 0, 0, .6);
}

.pagination-item:active {
  color: #000000;
}

.pagination-item_previous,
.pagination-item_next {
  display: block;
  width: 125px;
  color: #000000;
  padding: 24px 0;
}

.pagination-item_previous {
  margin-right: 190px;
}

.pagination-item_next {
  margin-left: 190px;
}

.pagination-item_previous:hover,
.pagination-item_previous:focus,
.pagination-item_next:hover,
.pagination-item_next:focus {
  background-color: #d9d9d9;
}


.pagination-item_previous:active,
.pagination-item_next:active {
  color: rgba(0, 0, 0, .3);
  background-color: #d9d9d9;
}

/* Footer */
.main-footer {
  background-color: #464646;
}

.footer-top {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-top: 60px;
  padding-bottom: 40px;
}

.footer-logo {
  margin-right: auto;
}

.footer-logo:hover,
.footer-logo:focus {
  opacity: .6;
}

.footer-logo:active {
  opacity: .3;
}

.footer-menu {
  position: relative;
  color: rgba(255, 255, 255, .7);
  font-size: 15px;
  line-height: 36px;
}

.footer-menu:hover,
.footer-menu:focus {
  color: #ffffff;
}

.footer-menu:focus {
  color: rgba(255, 255, 255, .3);
}

.footer-menu:hover::before,
.footer-menu:focus::before {
  opacity: 0.6;
}

.footer-menu:active::before {
  opacity: 0.3;
}

.footer-input {
  padding-left: 27px;
}

.footer-input::before {
  position: absolute;
  content: '';
  top: 11px;
  left: 0;
  width: 13px;
  height: 12px;
  background-image: url('../img/gold-user.svg');
  background-position: 0 0;
  background-repeat: no-repeat;
}

.footer-compare {
  margin-left: 60px;
  padding-left: 20px;
}

.footer-compare::before {
  position: absolute;
  content: '';
  top: 12px;
  left: 0;
  width: 10px;
  height: 10px;
  background-image: url('../img/gold-compare.svg');
  background-position: 0 0;
  background-repeat: no-repeat;
}

.footer-cart {
  padding-left: 24px;
  margin-left: 20px;
}

.footer-cart::before {
  position: absolute;
  content: '';
  top: 11px;
  left: 0;
  width: 12px;
  height: 12px;
  background-image: url('../img/gold-cart.svg');
  background-position: 0 0;
  background-repeat: no-repeat;
}

.footer-middle {
  display: flex;
  margin-bottom: 62px;
}

.footer-middle address {
  margin-right: 180px;
  color: #ffffff;
  font-style: normal;
}

.footer-navigation {
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: space-between;
  width: 424px;
}

.footer-navigation-item a {
  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 3.5px;
  color: #ffffff;
}

.footer-navigation-item a:hover,
.footer-navigation-item a:focus {
  opacity: .6;
}

.footer-navigation-item a:active {
  opacity: .3;
}

.header-contacts-phone {
  color: #ffffff;
  margin-left: auto;
}

.footer-bottom {
  position: relative;
  display: flex;
  padding-bottom: 60px
}

.footer-bottom::before {
  content: '';
  position: absolute;
  top: 20px;
  width: 80px;
  height: 7px;
  background-color: #ffc600;
}


.social-list {
  display: flex;
  justify-content: space-between;
  width: 142px;
  margin: 0;
  margin-left: 510px;
  padding: 0;
}

.social-item {
  opacity: .3;
}

.social-item:hover,
.social-item:focus {
  opacity: .6;
}

.social-item:active {
  opacity: .1;
}

.develop {
  margin-left: auto;
}

.develop:hover,
.develop:focus {
  opacity: .6;
}

.develop:active {
  opacity: .3;
}

/* Modal*/

.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  color: #000000;
}

.modal-close {
  position: absolute;
  top: 22px;
  right: 22px;
  width: 55px;
  height: 55px;
  background-color: #f0c52e;
  border: none;
  border-radius: 50%;
  opacity: .5;
  cursor: pointer;
}

.modal-close::before,
.modal-close::after {
  content: '';
  position: absolute;
  top: 25px;
  left: 13px;
  width: 30px;
  height: 2px;
  background-color: #ffffff;
  transform: rotate(45deg);
}

.modal-close::after{
  transform: rotate(135deg);
}

.modal-close:hover,
.modal-close:focus {
  opacity: 1;
}

.modal-close:active {
  opacity: .3;
}

.modal-show {
  display: block;
}

/* Modal-write-us */
.modal-write-us {
  box-sizing: border-box;
  top: 60px;
  left: 50%;
  width: 960px;
  padding: 90px 100px;
  transform: translateX(-50%);
  background-color: #ffffff;
  box-shadow: 0px 10px 10px -2px rgba(0,0,0,0.2);
}

.write-us-form {
  display: flex;
  flex-wrap: wrap;
}

.write-us-form input{
  box-sizing: border-box;
  height: 50px;
  padding-left: 20px;
  background-color: #f2f2f2;
  color: #000000;
  border: none;
}

.write-us-form input:hover,
.write-us-form textarea:hover {
  background-color: #e5e5e5;
}

.write-us-form input:focus,
.write-us-form textarea:focus {
  background-color: #ffffff;
  outline-color: #f7e296;
  outline-width: 3px;
}

.write-us-form input:invalid {
  background-color: #f6dada;
}

.user-name-wrap,
.user-email-wrap,
.user-letter-wrap {
  display: flex;
  flex-direction: column;
  width: 360px;
}

.user-name-wrap {
  margin-right: 40px;
  margin-bottom: 30px;
}

.user-letter-wrap {
  width: 760px;
}

.write-us-form .btn{
  width: 200px;
}

.write-us-form label {
  padding-bottom: 10px;
  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

.write-us-form textarea {
  box-sizing: border-box;
  background-color: #f2f2f2;
  color: #000000;
  border: none;
  margin-bottom: 50px;
  padding-top: 16px;
  padding-left: 20px;
}

/* Modal-map */

.modal-map {
  box-sizing: border-box;
  top: 60px;
  left: 50%;
  width: 940px;
  height: 560px;
  transform: translateX(-50%);
  background-image: url('../img/map-big.jpg');
  box-shadow: 0px 10px 10px -2px rgba(0,0,0,0.2);
}
